@font-face {
  font-family: "Exo 2.0 Thin";
  font-style: normal;
  font-weight: 300;
  src: url("/src/fonts/Exo2.0-Thin.otf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  position: relative;
  font-family: "Exo 2.0 Thin";
  background: #000 url("/src/img/Pattern.png") center center;
  background-size: cover;
  color: #fff;
}

body::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.main {
  min-height: 100vh;
  position: relative;
}

.main-title {
  text-align: center;
  font-weight: 300;
  color: #fff;
  font-size: 36px;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-cardlist {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-card {
  font-family: 'Trebuchet MS', sans-serif;
}

.main-card__subtitle-top {
  font-size: 16px;
  color: #666666;
}

.main-card__title {
  font-size: 48px;
  color: #000;
  font-weight: bold;
  padding-top: 7px;
}

.main-card__subtitle-bottom {
  font-size: 14px;
  color: #666666;
  padding-top: 15px;
}

.main-card__title-small {
  font-size: 24px;
  display: block;
}

.main-card__content {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: 20px 50px;
  min-height: 480px;
  min-width: 320px;
  color: #000;
  background: url("/src/img/bgblue.png");
  display: block;
  z-index: 100;
}

.main-card__image {
  position: absolute;
  left: -35px;
  bottom: -95px;
}

.main-card__img {
  float: left;
}

.main-card__weight {
  position: absolute;
  background-color: #1698d9;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  bottom: 15px;
  right: 15px;
  padding: 5px;
  color: #fff;
  text-align: center;
}

.main-card__weight-number {
  font-size: 42px;
  display: block;
}

.main-card__weight-unit {
  display: block;
  margin-top: -5px;
  font-size: 21px;
}

.main-card__footer {
  text-align: center;
  margin-top: 12px;
}

.main-card__footer-text {
  font-size: 13px;
}

.main-card__footer u {
  color: #1698d9;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.active {
  background: url("/src/img/bgpink.png");
}

.disabled {
  background: url("/src/img/bggrey.png");
}

.active-bounce {
  background-color: #d91667;
}

.disabled-bounce {
  background-color: #b3b3b3;
}

.active-text {
  color: #d91667;
}

.disabled-text {
  color: #ffff66;
}
/*# sourceMappingURL=style.css.map */